<div class="navbar">
<img class="logo" src="/imgs/sparta.jpg" alt=""><br>
<hr>
<a href="/">Home</a><br>
<hr>
<a href="/posts">Posts</a><br>
<hr>
<a href="/guitars">Guitar</a><br>
<hr>
<a href="/amps">Amps</a><br>
<hr>
</div>
