<div class="navbar">
<img class="logo" src="/imgs/sparta.jpg" alt=""><br>
<hr>
<a class="button" href="/">Home</a><br>
<hr>
<a class="button" href="/posts">Posts</a><br>
<hr>
<a class="button" href="/guitars">Guitar</a><br>
<hr>
<a class="button" href="/amps">Amps</a><br>
<hr>
</div>
