<div class="yieldedcontent" style="margin-top:100px">
<h1>Home</h1>
<p>Welcome to my webpage with Sinatra.</p><p> Click on some stuff, see some stuff, read some stuff.</p> <p> <q>An all around great time for the whole family!</q><cite> -Rob Whitehouse</cite></p>
</div>
