<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%= @title %></title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <%= erb :'partials/navbar'%><br>
    <div class="content">
      <%= yield %>
    </div>
  </body>
</html>
