<form class="form"  action="/posts/<%= @post.id %>" method="POST">
  <label>Title:</label><br>
  <input type="text" name="title" placeholder="The title..." value="<%= @post.title %>"><br>
  <label>Body:</label><br>
  <textarea name="body" placeholder="The body..." rows="8" cols="80"><%= @post.body %></textarea>
  <div class="">
    <input type="submit" value="Save Post">
  </div>
  <% if(@post.id) %>
    <input type="hidden" name="_method" value="PUT">
  <% end %>
</form>
