<h1>Posts</h1>
<a href="posts/new">New post</a>
<hr>
<% @posts.each do |post|%>
  <div class="content">
    <h3><a href="posts/<%= post.id %>"><%=post.title%></a></h3>
    <p><%=post.body[0..35]+"..."%></p>
    <hr>
  </div>
<% end %>
