<div class="yieldedcontent" style="margin-top:100px">
<img src="https://www.fillmurray.com/100/100" alt="mooray">
<h1><%= @post.title %></h1>
<p class="contentbody"><%= @post.body %></p>
<br>
<a class="button" href="<%=@post.id%>/edit" style="color: white; text-shadow: none; border: 1px solid white; padding: 3%;">Edit post</a><br><br>
<form action="/posts/<%= @post.id %>" method="POST">
  <input class="button" type="submit" value="Delete post" style="padding: 2%;">
  <!-- over rights the post -->
  <input type="hidden" name="_method" value="DELETE">
</form><br>
</div>
