<div class="yieldedcontent" style="margin-top:100px">
<a href="<%=@post.id%>/edit">Edit post</a><br>
<form action="/posts/<%= @post.id %>" method="POST">
  <input type="submit" value="Delete post">
  <!-- over rights the post -->
  <input type="hidden" name="_method" value="DELETE">
</form><br>
<img src="https://www.fillmurray.com/100/100" alt="mooray">
<h1><%= @post.title %></h1>
<p class="contentbody"><%= @post.body %></p>
</div>
