<h1>Amps</h1>
<a></a>
<hr>
<% @amps.each do |amp|%>
  <div class="content">
    <h3><a href="amps/<%= amp[:id] %>"><%=amp[:name]%></a></h3>
    <p><%=amp[:description][0..35]+"..."%></p>
    <hr>
  </div>
<% end %>
